debug
debug.test
main
mockgen_tmp.go
*.qtr
*.qlog
*.sqlog
*.txt
race.[0-9]*

fuzzing/*/*.zip
fuzzing/*/coverprofile
fuzzing/*/crashers
fuzzing/*/sonarprofile
fuzzing/*/suppressions
fuzzing/*/corpus/

gomock_reflect_*/
_tul_project/quic/runs
_tul_project/quic/torrent_analysis/runs
_tul_project/quic/server_local1
_tul_project/quic/server_local2
